* {
	padding: 0;
	margin: 0;
}


/*Creating a menu bar*/
.navigation  {width: 100%; background-color: #2f3036; height: 53px;}

/*Create a menu item with spacing*/
.item1  {
    width:140px;
    height: 100%;
    display:inline-block;
    float: left;
    margin-right: 3px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #2f3036;
    
}


/*Hover state for top links*/
     .navigation .item1:hover {
     background: #19c589;
}
 
/*END of MENU*/
.footer {width: 100%; 
          height: 50px; background-color: black; 
          text-align: center; 
          color: white; 
          margin-top: 60px; 
          position: fixed; 
          bottom: 0px;
          
          }   

.wrapper {
	width: 100%;
	margin: 0 auto;
	/*border: 3px solid black;*/
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	grid-gap: 6px;
	grid-template-rows: 40px 600px;

} 

.header {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	text-align: center;
	border: 2px solid black;
	color: red;
	position: relative;
	top: 0 auto;
	margin-left: 10px;
	margin-right: 30px;
	font-size: 26px;
	color: blue;
	height: 50px;
	background-color: lightgrey;
}

h2 {
	color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue
}
.box1content {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: 16px;
	margin-top: 10px;
	margin-right: 10px;
	padding-left: 10px;
	border: 2px solid black;
	overflow: scroll;
	padding-top: 10px;
	position: relative;
	left: 10px;
	background-color: lightgrey;

}



.gallery {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	position: relative;
	text-align: center;
	/*font-size: 20px;*/
	border: 2px solid black;
	margin-top: 10px;
	margin-right: 30px;
	padding-top: 10px;
	background-color: lightgrey;


}

.images {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	position: relative;
	top: 50px;
	/*left: 100px;*/
	overflow: scroll;
	height: 300px;
	background-position: center;
	display: block;
	margin-bottom: 20px;

}

.images img {
	border: 2px solid blue;

}




.gallery, .CustomerReviews, .OurPartners, .OurStory {
	/*text-decoration: underline;*/
	text-align: center;
	font-size: 20px;

}

p {
	text-align: left;

}

h3 {
	text-decoration: underline;
}

nav ul li {
	margin-bottom: 20px;
}


.contact {
	text-align: center;
	color: blue;
	text-decoration: underline;
	/*border: 2px solid maroon;*/
	height:40px;
	/*width: 100%;*/
	position: relative;
	/*left: 50px;*/
	font-size: 28px;
	margin-right: 30px;
	margin-left: 10px;
	background-color: lightgrey;
	border: 2px solid black;
 
}

.wrappercontact {
	background-color: lightgrey;
	border: 2px solid black;
	margin-left: 10px;
	margin-right: 30px;
}

.stayconnected {
	text-align: left;
	color: blue;
	position: relative;
	width: 50%;
	height: 40px;
	/*border: 2px solid pink;*/
	/*right: 500px;*/
	top: 20px;
	left: 300px;
	text-decoration: underline;
	font-size: 20px;
 
}     

.column1 {
	/*border: 2px solid black;*/
	position: relative;
	text-align: left;
	color: blue;
	width: 15%;
	height: 100px;
	display: block;
	left: 300px;
	top: 20px;
 
}


.navigate {
	/*margin-left: 40px;*/
	text-align: left;
	color: blue;
	position: relative;
	left: 650px;
	bottom: 120px;
	width: 10%;
	height: 30px;
	text-decoration: underline;
	display: inline-block;
	font-size: 20px;
/*	border: 2px solid black;*/
	/*border: 2px solid purple;*/

}

.contactcolumn2 {
	position: relative;
	text-align: left;
	color: blue;
	width: 10%;
	height: 30px;
	left: 650px;
	bottom: 120px;

}

.legal {
	text-align: left;
	color: blue;
	position: relative;
	left: 900px;
	bottom: 180px;
	width: 10%;
	height: 30px;
	text-decoration: underline;
	display: inline-block;
	font-size: 20px;

}

.contactcolumn3 {
	position: relative;
	text-align: left;
	color: blue;
	width: 10%;
	height: 30px;
	left: 900px;
	bottom: 180px;

}











